---
import Layout from "../layouts/Layout.astro";
import Hero from "../seccions/Hero.astro";
import Proyectos from "../seccions/Proyectos.astro";
import Habilidades from "../seccions/Habilidades.astro";
import Contacto from "../seccions/Contacto.astro";
---

<Layout title="Portfolio de Brian Chaparro | Desarrollador web">
  <main>
    <Hero />
    <Proyectos />
    <Habilidades />
    <Contacto />
  </main>
</Layout>

<script>
  document
    .getElementById("contact-form")!
    .addEventListener("submit", async function (event: Event) {
      event.preventDefault();

      const form = event.target as HTMLFormElement;
      const email = (form.querySelector("#email") as HTMLInputElement).value;
      const message = (form.querySelector("#message") as HTMLTextAreaElement)
        .value;

      const data = {
        email: email,
        message: message,
      };

      try {
        const response = await fetch("/contact", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });

        if (response.ok) {
          alert("Mensaje enviado exitosamente");
          form.reset();
        } else {
          const errorData = await response.json();
          alert(
            `Error al enviar el mensaje: ${errorData.message || response.statusText}`,
          );
        }
      } catch (error) {
        console.error("Error en la solicitud:", error);
        alert(
          "Hubo un problema al enviar el formulario. Por favor, intenta de nuevo más tarde.",
        );
      }
    });
</script>
