---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../Sections/Contact.astro";
import Hero from "../Sections/Hero.astro";
import Projects from "../Sections/Projects.astro";
import Skills from "../Sections/Skills.astro";
---

<Layout title="Portfolio - Brian Chaparro">
  <main
    class="min-h-screen flex flex-col gap-16 text-gray-600 max-w-screen-lg mx-auto px-4 sm:px-6 lg:p-0"
  >
    <Navbar />
    <Hero />
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>
