---
import Download from "../icons/Download.astro";
import GitHub from "../icons/GitHub.astro";
import Mail from "../icons/Mail.astro";
import Map from "../icons/Map.astro";
import Phone from "../icons/Phone.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brian Chaparro">
  <main class="flex flex-col relative min-w-full justify-center items-center">
    <section
      class="max-w-screen-md w-full min-h-screen flex flex-col py-10 print:py-5 px-10 gap-8 text-gray-600 tracking-tight"
    >
      <!-- Información personal -->
      <div class="flex flex-col gap-1">
        <h1 class="text-3xl text-gray-800 font-semibold">
          Brian Ruben Chaparro Mareco
        </h1>
        <h2 class="text-xl font-medium text-gray-600 mb-1">
          Desarrollador Web
        </h2>
        <p class="flex gap-1 py-1">
          <Map class="text-gray-500" />
          <span>Itauguá - Paraguay</span>
        </p>

        <footer id="print" class="print:flex gap-3 hidden">
          <a
            href="mailto:brianmarecco@gmail.com"
            class="w-mi h-min py-1 flex gap-1"
          >
            <Mail class="text-gray-500" />
            <span>brianmarecco@gmail.com</span>
          </a>
          <a href="tel:+595971544591" class="w-mi h-min py-1 flex gap-1">
            <Phone class="text-gray-500" />
            <span>0971544591</span>
          </a>
          <a
            href="https://github.com/Brian-ChM"
            target="_blank"
            rel="noreferrer noopener"
            class="w-mi h-min py-1 flex gap-1"
          >
            <GitHub class="text-gray-500" />
            <span>https://github.com/Brian-ChM</span>
          </a>
        </footer>

        <footer id="no-print" class="flex gap-3 print:hidden">
          <a
            href="mailto:brianmarecco@gmail.com"
            class="w-mi h-min p-1 border border-gray-400 rounded-md"
          >
            <Mail class="text-gray-500" />
          </a>
          <a
            href="tel:+595971544591"
            class="w-mi h-min p-1 border border-gray-400 rounded-md"
          >
            <Phone class="text-gray-500" />
          </a>
          <a
            href="https://github.com/Brian-ChM"
            target="_blank"
            rel="noreferrer noopener"
            class="w-mi h-min p-1 border border-gray-400 rounded-md"
          >
            <GitHub class="text-gray-500" />
          </a>
        </footer>
      </div>

      <!-- Sobre mí -->
      <div class="flex flex-col gap-1">
        <h3 class="text-3xl text-gray-800 font-semibold mb-1">Sobre mí</h3>
        <p class="text-balance">
          Desarrollador Web motivado por el desafío de transformar ideas en
          código funcional. Con experiencia en el desarrollo de proyectos
          personales y autodidacta en tecnologías modernas como Next.js, Prisma,
          y Tailwind CSS. Busco mi primera oportunidad profesional para aplicar
          mis conocimientos en un entorno real, resolviendo problemas y creando
          soluciones prácticas.
        </p>
      </div>

      <!-- Proyectos -->
      <div class="flex flex-col gap-1">
        <h3 class="text-3xl text-gray-800 font-semibold mb-1">Proyectos</h3>

        <div class="flex flex-col sm:flex-row gap-3">
          <article
            class="py-2 px-4 border border-gray-400 rounded-md tracking-tight"
          >
            <h5 class="font-bold text-gray-800 text-lg mb-1">
              Markdown Editor
            </h5>
            <h6 class="text-gray-600 font-medium mb-3">
              Desarrollado con Next.js, Prisma, Tailwind CSS, Auth.js y
              PostgreSQL.
            </h6>
            <ul class="space-y-3 tracking-tighter text-sm">
              <li>
                <span class="font-bold">➤ </span>
                Un editor de Markdown con autenticación de usuarios a través de GitHub
                y Google.
              </li>
              <li>
                <span class="font-bold">➤ </span>
                Implementación de funcionalidades de estado utilizando Zustand y
                almacenamiento en localStorage.
              </li>
              <li>
                <span class="font-bold">➤ </span>
                Desplegado en Vercel. Enlace al proyecto
              </li>
            </ul>
          </article>
          <article
            class="py-4 px-4 border border-gray-400 rounded-md tracking-tight"
          >
            <h5 class="font-bold text-gray-800 text-lg mb-1">
              TaskCore - Administrador de Tareas
            </h5>
            <h6 class="text-gray-600 font-medium mb-3">
              Desarrollado con Next.js, Tailwind CSS, Auth.js, Prisma y Zod.
            </h6>
            <ul class="space-y-3 tracking-tighter text-sm">
              <li>
                <span class="font-bold">➤ </span> Una aplicación de administración
                de tareas con un dashboard interactivo para añadir, gestionar y visualizar
                tareas.
              </li>
              <li>
                <span class="font-bold">➤ </span>
                Autenticación de usuarios a través de GitHub y Google, manejo de
                prioridades y fechas límite.
              </li>
              <li>
                <span class="font-bold">➤ </span>
                Los usuarios pueden crear, editar, eliminar y marcar como favoritos
                sus documentos, que se guardan en una base de datos PostgreSQL.
              </li>
            </ul>
          </article>
        </div>
      </div>

      <!-- Habilidades -->
      <div class="flex flex-col gap-1">
        <h3 class="text-3xl text-gray-800 font-semibold mb-1">Habilidades</h3>

        <div class="flex flex-col gap-3 text-sm">
          <h5 class="font-semibold">Lenguajes y frameworks</h5>
          <div class="flex flex-wrap gap-1">
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              TypeScript
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              JavaScript
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              React
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
              >Next.js
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              Node.js
            </span>
          </div>

          <h5 class="font-semibold">Base de datos</h5>
          <div class="flex flex-wrap gap-1">
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              PostgreSQL
            </span>
            <span
              w-min
              h-min
              font-medium
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              Prisma
            </span>
          </div>

          <h5 class="font-semibold">Autenticación</h5>
          <div class="flex flex-wrap gap-1">
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              Auth.js
            </span>
          </div>

          <h5 class="font-semibold">Herramientas</h5>
          <div class="flex flex-wrap gap-1">
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              GitHub
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              Git
            </span>
            <span
              class="px-4 py-1 w-min h-min font-medium border border-gray-400 bg-gray-200 rounded-full"
            >
              Docker
            </span>
          </div>
        </div>
      </div>
    </section>

    <button
      class="fixed bottom-8 right-8 p-4 w-min h-min bg-green-500 shadow-xl text-white rounded-full print:hidden"
    >
      <Download class="w-10 h-10 font-bold" />
    </button>
  </main>
</Layout>

<script>
  const printButton = document.querySelector("button");

  (printButton as HTMLButtonElement).addEventListener("click", () => {
    window.print();
  });
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

  main {
    font-family: "Open Sans", sans-serif;
  }

  @media print {
    @page {
      size: A4;
      margin: auto;
    }
  }
</style>
