<div class="relative gap-4 items-center px-4 sm:hidden pr-4">
  <button id="menu">
    <img src="/icons/menu.svg" alt="menu" class="w-8 h-8" />
  </button>

  <ul
    id="burger-items"
    class="absolute remove -z-50 top-14 right-0 space-y-4 p-8 rounded-lg bg-white shadow-md"
  >
    <li class="group">
      <a
        href="#intro"
        class="hover:text-blue-700 transition-colors font-medium text-blue-600"
        >Inicio</a
      >
      <div
        class="h-min border-t-2 border-blue-600 scale-100 group-hover:scale-100 transition-all"
      >
      </div>
    </li>
    <li class="group">
      <a
        href="#projects"
        class="hover:text-gray-900 transition-colors font-medium">Proyectos</a
      >
      <div
        class="h-min border-t-2 border-blue-600 scale-0 group-hover:scale-100 transition-all"
      >
      </div>
    </li>
    <li class="group">
      <a
        href="#skills"
        class="hover:text-gray-900 transition-colors font-medium">Habilidades</a
      >
      <div
        class="h-min border-t-2 border-blue-600 scale-0 group-hover:scale-100 transition-all"
      >
      </div>
    </li>
    <li class="group">
      <a
        href="#contact"
        class="hover:text-gray-900 transition-colors font-medium">Contacto</a
      >
      <div
        class="h-min border-t-2 border-blue-600 scale-0 group-hover:scale-100 transition-all"
      >
      </div>
    </li>
  </ul>
</div>

<script>
  const menu = document.querySelector("#menu")!;
  const menuItems = document.querySelector("#burger-items")!;
  const menuLinks = document.querySelectorAll("#burger-items li");

  menu.addEventListener("click", () => {
    if (menuItems.classList.contains("remove")) {
      menuItems.classList.remove("remove");
    } else {
      menuItems.classList.add("remove");
    }
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      menuItems.classList.add("remove");
    });
  });
</script>

<style>
  #menu-items {
    opacity: 0;
    transform: translateY(-100px);
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;
  }

  #burger-items.remove {
    opacity: 0;
    transform: translateY(-100px);
  }

  #burger-items:not(.remove) {
    opacity: 1;
    transform: translateY(0px);
  }
</style>
