---
import MenuLarge from "./MenuLarge.astro";
import MenuSmall from "./MenuSmall.astro";

const menuItems = [
  { name: "Inicio", href: "#intro" },
  { name: "Proyectos", href: "#projects" },
  { name: "Habilidades", href: "#skills" },
  { name: "Educación", href: "#education" },
  { name: "Contacto", href: "#contact" },
];
---

<nav
  id="navbar"
  class="flex items-center justify-between fixed z-50 left-0 right-0 mx-auto top-2 rounded-full p-2 h-[66px] w-[calc(100%-44px)] lg:w-full max-w-screen-lg border bg-white shadow-md"
>
  <!-- Info  -->
  <div
    id="navbarInfo"
    class="grid grid-cols-[auto,1fr] gap-2 items-center scale-0 opacity-0 transition-all"
  >
    <img
      class="rounded-full min-w-12 w-12 min-h-12 h-12 object-cover"
      src="/Brian.jpg"
      alt="Brian Chaparro"
    />
    <div>
      <h1
        class="text-lg text-nowrap font-bold bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent"
      >
        Brian Chaparro
      </h1>
      <h2 class="text-xs italic text-nowrap text-green-600">
        Desarrollador Web
      </h2>
    </div>
  </div>

  <!-- Welcome -->
  <h2
    id="welcome"
    class="absolute transition-all left-5 text-2xl text-nowrap font-bold bg-gradient-to-r from-blue-600 to-blue-400 bg-clip-text text-transparent"
  >
    <span class="font-normal text-white greetingHands">👋</span> Bienvenido
  </h2>

  <!-- Menu large -->
  <MenuLarge menuItems={menuItems} />

  <!-- Menu small -->
  <MenuSmall menuItems={menuItems} />
</nav>

<script>
  /* Navbar info */
  document.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      document.getElementById("welcome")!.style.opacity = "0";
      document.getElementById("welcome")!.style.transform = "translateY(-100%)";
      document.getElementById("navbarInfo")!.style.opacity = "1";
      document.getElementById("navbarInfo")!.style.transform = "scale(1)";
    } else {
      document.getElementById("navbarInfo")!.style.opacity = "0";
      document.getElementById("navbarInfo")!.style.transform = "scale(0)";
      document.getElementById("welcome")!.style.opacity = "1";
      document.getElementById("welcome")!.style.transform = "translateY(0)";
    }
  });
</script>

<style>
  .greetingHands {
    display: inline-block;
    animation: greetingHands 1.5s ease-in-out infinite;
  }

  @keyframes greetingHands {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
</style>
