---
import Container from "../components/Container.astro";
---

<Container id="intro" class="min-h-screen justify-center">
  <div class="grid grid-cols-[auto,1fr] gap-4 items-center">
    <img
      class="rounded-full w-24 h-24 object-cover"
      src="/Brian.jpg"
      alt="Brian Chaparro"
    />
    <div>
      <h1
        class="text-5xl sm:text-6xl font-bold bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent"
      >
        Brian Chaparro
      </h1>
      <h2 class="text-lg sm:text-xl italic text-green-600">
        Desarrollador Web Front-end
      </h2>
    </div>
  </div>

  <div class="flex flex-col gap-4 max-w-[75ch] text-lg">
    <p>
      He trabajado creando interfaces modernas con React, Next.js y Astro, y
      también en el backend con Node.js, Prisma y PostgreSQL. Me apasiona
      construir aplicaciones que resuelvan problemas reales.
    </p>

    <p>
      Me enfoco en optimizar la experiencia del usuario y mejorar continuamente
      con cada proyecto en el que trabajo.
    </p>
  </div>
</Container>
