---
import Container from "../components/Container.astro";
---

<Container id="intro" class="min-h-screen justify-center">
  <div class="grid grid-cols-[auto,1fr] gap-4 items-center">
    <img
      class="rounded-full w-24 h-24 object-cover"
      src="/Brian.jpg"
      alt="Brian Chaparro"
    />
    <div>
      <h1
        class="text-5xl sm:text-6xl font-bold bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent"
      >
        Brian Chaparro
      </h1>
      <h2 class="text-lg sm:text-xl italic text-green-600">
        Desarrollador Web
      </h2>
    </div>
  </div>

  <div class="flex flex-col gap-4 max-w-[75ch] text-lg">
    <p>
      He trabajado creando interfaces modernas con React, Next.js y Astro, y
      también en el backend con Node.js, Prisma y PostgreSQL. Me apasiona
      construir aplicaciones que resuelvan problemas reales.
    </p>

    <p>
      Me enfoco en optimizar la experiencia del usuario y mejorar continuamente
      con cada proyecto en el que trabajo.
    </p>
    <div class="flex gap-4 justify-between w-full flex-col-reverse sm:flex-row">
      <div class="flex gap-4 w-full">
        <a
          href="https://github.com/Brian-ChM"
          target="_blank"
          class="min-w-36 flex-grow h-10 flex items-center justify-center gap-2 border border-blue-500 hover:bg-blue-500/30 font-bold transition-all text-gray-700 hover:text-black rounded-lg"
        >
          <img
            src="/icons/link.svg"
            class="text-white"
            alt="Github"
            class="w-5 h-5"
          />
          Github
        </a>
        <a
          href="mailto:brianmarecco@gmail.com"
          class="min-w-36 flex-grow h-10 flex items-center justify-center gap-2 border border-blue-500 hover:bg-blue-500/30 font-bold transition-all text-gray-700 hover:text-black rounded-lg"
        >
          <img
            src="/icons/link.svg"
            class="text-white"
            alt="Github"
            class="w-5 h-5"
          />
          Gmail
        </a>
      </div>

      <a
        download
        href="/Brian_Chaparro.pdf"
        class="w-full flex items-center justify-center gap-2 h-10 font-bold bg-gradient-to-b from-blue-600 to-blue-500 hover:from-blue-500 hover:to-blue-600 transition-all text-white rounded-lg"
      >
        <img
          src="/icons/download.svg"
          class="text-white"
          alt="Descargar CV"
          class="w-5 h-5"
        />
        Descargar CV
      </a>
    </div>
  </div>
</Container>
