---
import { Image } from "astro:assets";
import Container from "../components/Container.astro";
import Tittle from "../components/Tittle.astro";
import Subtittle from "../components/Subtittle.astro";
import Button from "../components/Button.astro";
---

<Container id="proyectos">
  <Tittle>Proyectos</Tittle>

  <div
    class="flex flex-1 flex-col gap-20 items-center justify-center text-center"
  >
    <article
      class="flex flex-col lg:flex-row gap-5 items-center justify-center"
    >
      <div
        class="w-72 h-[166px] sm:w-[484px] sm:h-[279px] md:w-[600px] md:h-[305px] relative bg-gray-700 rounded-md overflow-hidden"
      >
        <picture
          class="absolute w-[1000px] h-96 top-0 left-0 hover:inset-0 hover:w-full transition-all p-4"
        >
          <Image
            class="rounded-md shadow-lg w-[1024px]"
            src="/MarkdownEditor.webp"
            alt="Captura de pantalla del Editor de Markdown"
            width="100"
            height="100"
          />
        </picture>
      </div>

      <div class="flex flex-1 flex-col gap-3 items-center justify-center">
        <Subtittle>Editor de Markdown</Subtittle>

        <div class="flex gap-3 flex-wrap justify-center">
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >NextJs</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >TypeScript</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >PosgreSQL</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Prisma</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Auth.js</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Zustand</span
          >
        </div>

        <p>
          Un editor de Markdown avanzado que permite a los usuarios
          autenticarse, escribir, guardar, editar y gestionar documentos
          Markdown. La aplicación es completamente responsiva y ofrece una
          experiencia de usuario fluida.
        </p>

        <div class="flex gap-3">
          <Button
            target="_blank"
            variant="primary"
            href="https://markdown-editor-five-pi.vercel.app/"
          >
            Visitar pagina
          </Button>

          <Button
            target="_blank"
            variant="secondary"
            href="https://github.com/Brian-ChM/MarkdownEditor"
          >
            Ver en GitHub
          </Button>
        </div>
      </div>
    </article>

    <article
      class="flex flex-col lg:flex-row gap-5 items-center justify-center"
    >
      <div
        class="w-72 h-[166px] md:w-[600px] md:h-[305px] relative bg-gray-700 rounded-md overflow-hidden"
      >
        <picture
          class="absolute w-[1000px] h-96 top-0 left-0 hover:inset-0 hover:w-full transition-all p-4"
        >
          <Image
            class="rounded-md shadow-lg w-[1024px]"
            src="/TaskCore.webp"
            alt="Captura de pantalla de la aplicación TaskCore"
            width="100"
            height="100"
          />
        </picture>
      </div>

      <div class="flex flex-1 flex-col gap-3 items-center justify-center">
        <Subtittle>TaskCore - Gestor de Tareas</Subtittle>

        <div class="flex gap-3 flex-wrap justify-center">
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >NextJs</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >TypeScript</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >PosgreSQL</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Prisma</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Auth.js</span
          >
          <span
            class="w-min text-sm h-min px-3 rounded-full border border-blue-500 text-nowrap"
            >Zod</span
          >
        </div>

        <p>
          Una aplicación de gestión de tareas con un dashboard interactivo para
          añadir, gestionar y visualizar tareas con diferentes estados y
          prioridades. Incluye una página de estadísticas para el análisis de
          datos.
        </p>

        <div class="flex gap-3">
          <Button
            target="_blank"
            variant="primary"
            href="https://taskcore.vercel.app"
          >
            Visitar pagina
          </Button>

          <Button
            target="_blank"
            variant="secondary"
            href="https://github.com/Brian-ChM/TaskCore"
          >
            Ver en GitHub
          </Button>
        </div>
      </div>
    </article>
  </div>
</Container>
