---
import { Image } from "astro:assets";
import Container from "../components/Container.astro";
import Tittle from "../components/Tittle.astro";
---

<Container id="habilidades">
  <div class="flex flex-col gap-3 items-center justify-center">
    <Tittle>Habilidades y Tecnologías</Tittle>

    <p>Estas son algunas de las tecnologías que he utilizado</p>
  </div>

  <div class="grid grid-cols-3 gap-10 md:gap-20">
    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/typescript.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> TypeScript </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/nextjs.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> NextJS </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/prisma.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> Prisma </span>
    </article>
    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/react.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> React </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/astro.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> Astro </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/postgresql.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> PosgreSQL </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="https://user-images.githubusercontent.com/958486/218346783-72be5ae3-b953-4dd7-b239-788a882fdad6.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> Zustand </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/zod.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> Zod </span>
    </article>

    <article class="flex flex-col gap-3 items-center justify-center">
      <Image
        class="w-16 md:w-24"
        src="/docker.svg"
        alt="TypeScript"
        width="100"
        height="100"
      />
      <span class="text-lg font-bold"> Docker </span>
    </article>
  </div>
</Container>
